.each-slide {
  & img {
    height: calc(100vh - 200px);
    width: 100%;
    object-fit: cover;
  }
}

.button-style {
  margin: 0 20px;
  width: 35px;
  height: 25px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border-color: transparent;
}
