.login-page {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  & .login-box {
    background-color: #dedede;
    padding: 20px 50px;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
      height: 100vh;
      padding: 0px;
    }
    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & button {
        cursor: pointer;
        border: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        font-size: 16px;
        color: white;
        background: #2e78e7;
      }
      & input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        border: 1px solid white;
        padding: 10px 15px;
        margin: 10px 0;
        font-size: 14px;
      }
      & .error-message {
        color: rgb(191, 62, 62);
      }
    }
    & .other {
      display: flex;
      justify-content: space-between;
      & > div {
        cursor: pointer;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #2e78e7;
        color: #2e78e7;
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    margin-left: 1rem;
  }
  & h1 {
    margin-left: 10px;
  }
}

.login-social-title {
  display: flex;
  align-items: center;
  margin: 20px 0;
  & hr {
    width: 150px;
    height: 0px;
  }
  & > div {
    margin: 0 25px;
  }
}

.login-social {
  display: flex;
  justify-content: space-between;
  .face-social,
  .google-social,
  .github-social {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: white;
    width: max-content;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .face-social {
    color: #2e78e7;
  }
  .google-social {
    color: red;
  }
}
